<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhardwaj.newszilla">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.NewsZillaInstance"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Newszilla">
        <activity
            android:name="com.bhardwaj.newszilla.view.activities.ActivitySplashScreen"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bhardwaj.newszilla.view.activities.ActivityMain" />
        <activity android:name="com.bhardwaj.newszilla.view.activities.ActivityAllStories" />
        <activity android:name="com.bhardwaj.newszilla.view.activities.ActivityBookmark" />
        <activity android:name="com.bhardwaj.newszilla.view.activities.ActivityOnTopicNews" />
        <activity android:name="com.bhardwaj.newszilla.view.activities.ActivitySingleNews" />
    </application>

</manifest>